/* ===typograpy-start=== */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
}
.container-sub{
    width:1320px;
    margin: 0 auto;
    overflow: hidden;
}
.clr::after{
    content:'';
    clear:both;
    display:block;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* ====topograpy-end=== */

/* ===========================Home-page-start=====================================================*/

/* ================nav-menu-start===================*/
.menu-bar-bg{
    background: url(../image/nav-bar-background-image.png) no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    position: relative;
}
.menu-bar-bg::after{
    position: absolute;
    content:'';
    background:rgba(255, 255, 255, 0.3);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.header-bg{
    position: relative;
    z-index:2;
}
header{
    width:100%;
    height:48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:26px;
}
nav li{
    display: inline-block;
    margin: 0 5px;
    padding: 8px;
    border-radius:8px;
    position: relative;
    transition: all 0.3s ease;
}
.header-bg nav li:hover{
    background:rgba(35, 87, 132,.3);
}
.header-bg nav li:active{
    background: rgba(35, 87, 132, 1);
}
.header-bg nav li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background: transparent;
}
.header-bg nav ul li .dropdown li{
    display:block;
}
.header-bg nav ul li .dropdown{
    position: absolute;
    width:127px;
    background:white;
    border-radius: 15px;
    z-index: 999;
    display: none;
    top: 100%;
    left: 0;
}
.header-bg nav ul li:hover .dropdown{
    display: block;
}
.header-bg header .button{
    border-radius: 5px;
    background: transparent;
    border: 1px solid rgba(35, 87, 132, 1);
    width: 20%;
    text-align: center;
}
.header-bg header .button a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background:transparent;
    color:#235784;
    padding:12px 15px;
    transition: .8s;
    display: block;
}
header .button:hover a{
    background: #235784;
    color: #ffffff;
}
header a{
    background: transparent;
}
/* ====nav-menu-end==== */

/*==nav-menu-text-part-start== */
.text-part{
    float:left;
    margin-top:153px;
}
.text-part h3{
    font-family: 'StyleScript-Regular';
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(35, 87, 132, 1);
    margin-bottom:32px;
}
.text-part h1{
font-family: 'BebasNeue-Regular';
font-size: 84px;
line-height: 100px;
letter-spacing: 0em;
text-align: left;
color: #235784;
}
.text-part p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin:48px 0;
    max-width: 686px;
}
.nav-content .text-part .button{
    background: rgba(35, 87, 132, 1);
    border: none;
    border-radius: 5px;
    box-shadow: 4px 7px 22px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:30%;
    transition:.8s;
}
.nav-content .text-part .button a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#ffffff;
    background: #235784;
    padding: 18.5px 24px;
    display: block;
    transition: 0.3s;
}
.nav-content .text-part .button:hover{
    border:1px solid #235784;
    color: #235784;
}
.nav-content .text-part .button:hover a{
    color: #235784;
    background:#ffffff;
}
.image-part img{
    margin-left: -50px;
    margin-top: 51px;
}
/* =====nav-menu-text-part-end====*/

/* ==================service-section-start======================== */
.service-bg{
    background: url(../image/servic-ssection-bg.png)no-repeat;
    background-position:center;
    background-size:cover;
}
.service{
    padding: 48px 0;
}
.service-wrap{
    text-align: center;
    margin: 0 auto;
    width:68%;
}
.single-service{
    background:rgba(35, 87, 132, 0.85);
    border: 6px solid rgba(255, 255, 255, 1);
    width: 424px;
    float: left;
    margin: 12px;
}
.single-service i{
    margin: 24px 24px 0 24px;
    font-size: 50px;
    color: #ffffff;
    background:transparent;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding:18px;
    transition:.3s;
}
.single-service i:hover{
    background:#000000;
    cursor: pointer;
    opacity:.3;
}
.single-service h3{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 32px;
    font-weight: 500;
    line-height: 47px;
    color: #ffffff;
    margin: 24px 0;
}
.single-service p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(255, 255, 255, 1);
    margin:0 24px 18px;
}
/* ================service-section-end================= */
/* ================About-section-start================= */
.about-part-wrapper{
    margin:48px 0;
}
.about-left-side{
    float: left;
    width:48%;
}
.about-left-side .about-image{
    position: relative;
    text-align: center;
}
.about-left-side .about-image .empty{
    position: absolute;
    width:148px;
    height:232px;
    border-radius: 74px;
    border: 2px solid rgba(35, 87, 132, 1);
    left: 0;
    top:94px;
}
.about-left-side .about-image .short-text{
    text-align:center;
    transform: translateY(70%);
}
.about-left-side .about-image .short-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(35, 87, 132, 1);
}
.about-left-side .about-image .short-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: rgba(35, 87, 132, 1);

}
.about-left-side .about-image .empty-2{
    position: absolute;
    width:148px;
    height:232px;
    border-radius: 74px;
    border: 2px solid rgba(35, 87, 132, 1);
    right: 0;
    top:94px;
}
.about-left-side .about-image img{
    width:404px;
    height:545px;
}
.about-right-side .about-title{
    overflow: hidden;
    padding-left:2%;
    padding-top:35px;
}
.about-right-side .about-title h6{
    font-family: 'StyleScript-Regular';
    font-size: 24px;
    font-weight: 400;
    color:rgba(35, 87, 132, 1);
    margin-bottom:32px;
}
.about-right-side .about-title h2{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 48px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
}
.about-right-side .about-title p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.6);
    margin: 38px 0;
}
.about-right-side .about-title .button{
    text-align: center;
    width:27%;
}
.about-right-side .about-title .button a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
    padding:12px;
    border-radius: 5px;
    background: rgba(35, 87, 132, 1);
    border:1px solid transparent;
    display: block;
    transition:0.3s;
}
.about-right-side .about-title .button:hover a{
    background: transparent;
    border:1px solid #235784;
    color: #235784;
}
.about-right-side .about-title .button:hover i{
    padding-left:10px;
}
/* ================About-section-end================= */
/* ================Booking-section-start================== */
.booking-bg{
    background: url(../image/11715.png)no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.booking-bg::after{
    position: absolute;
    content:'';
    background:rgba(35, 87, 132, 1);
    width: 100%;
    height: 100%;
    top:0;
    opacity:0.85;
}
.booking-wrapper{
    padding:100px 0;
}
.full-booking-wrappr{
    padding:63.5px 48px 63.5px 48px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
    border-radius:8px;
    position: relative;
    z-index: 9999;
}
.full-booking-wrappr .booking-title .single-column{
    float: left;
    width:25%;
}
.full-booking-wrappr .booking-title .single-column input{
    border:0;
    border-bottom:1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width:50%;
    margin-top:30px;
    color: rgba(0, 0, 0, 0.4);
}
.full-booking-wrappr .booking-title .single-column input:focus{
    outline: unset;
}
.booking-title .single-column label{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color:rgba(35, 87, 132, 1);
}
.booking-title .single-column button{
    transform: translateY(33%);
    width:142px;
    height:48px;
    border-radius: 5px;
    border:2px solid transparent;
    background: rgba(35, 87, 132, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
    transition: 0.3s;
}
.booking-title .single-column button:hover{
    background: transparent;
    color: #235784;
    border:2px solid #235784;
}
/* ================Booking-section-end==================== */
/* ================speacial-section-start================== */
.offer-wrapping{
    margin:48px 0;
}
.doscount-botton .single-offer{
    width: 424px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color:#ffffff;
    margin-right:24px;
    float: left;
}
.doscount-botton .single-offer:last-child{
    margin-right:0;
}
.single-offer .image{
    position: relative;
}
.single-offer .image .img-empty{
    position: absolute;
    bottom:32px;
    left:32px;
    background: linear-gradient(0deg, #235784, #235784); 
    border: 1px solid rgba(255, 255, 255, 1);
    padding:5px 12px;
    opacity:.8;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
}
.single-offer .image img{
    width: 424px;
    height: 330px;
}
.single-offer .dicount-content{
    padding:32px;
    width:424px;
}
.single-offer .dicount-content h2{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 32px;
    font-weight: 500;
    line-height: 60px;
    color: rgba(35, 87, 132, 1);
}
.single-offer .dicount-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    margin:32px 0;
}
.single-offer .dicount-content button{
    width:142px;
    height: 48px;
    padding: 18.5px, 32px, 18.5px, 32px;
    border-radius: 5px;
    border:2px solid transparent;
    background: rgba(35, 87, 132, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
.single-offer .dicount-content button:hover{
    color: #235784;
    border:2px solid #235784;
    background:#ffffff;
    cursor: pointer;
}
/* ================speacial-offer-section-end================== */
/* ================Tour-section-start==========================--*/
/* --------title-pat-start---------- */
.title-content{
    text-align: center;
    padding:48px 0;
}
.title-content h1{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    color:rgba(35, 87, 132, 1);
}
.title-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 485px;
    margin: auto;
    padding-top: 32px;
}
/* ---------title-part-end---------- */
.tour-bg{
    background: url(../image/bh-for-tour.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.tour-wrapping{
    margin-bottom:50px;
}
.single-card{
    float: left;
    width:424px;
    margin-right:24px;
    margin-bottom: 24px;
    background-color: #ffffff;
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
}
.single-card:last-child{
    margin-right:0;
}
.single-card .image img{
    width: 424px;
    height:330px;
}
.single-card .tour-content{
    padding: 32px;
}
.single-card .tour-content .tour-text h3{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 32px;
    font-weight: 500;
    line-height: 60px;
    color: rgba(35, 87, 132, 1);
    padding-bottom: 32px;
}
.single-card .tour-content .tour-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.4);
}
/* ================Tour-section-end==========================--*/
/* ================choose-us-section-start========================== */
.choose-us-bg{
    background: url(../image/map-for-choose-us.png);
    background-position:center;
    background-size:contain;
    position: relative;
}
.choose-us-bg::after{
    position: absolute;
    content:'';
    background:rgba(35, 87, 132, 1);
    width: 100%;
    height: 100%;
    top:0;
    opacity:0.85;
    z-index:-1;
}
.choose-us-wrapping{
    padding:48px 0;
    position: relative;
    z-index: 999;
}
.choose-us-text{
    width:48%;
    margin-right:2%;
    float: left;
}
.choose-us-text h6{
    font-family: 'StyleScript-Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
}
.choose-us-text h2{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    color: rgba(255, 255, 255, 1);
    margin-top: 32px;;
}
.choose-us-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    margin: 48px 0;
}
.choose-us-text button{
    width:153px;
    height:48px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}
.choose-us-text button:hover{
    background: #235784;
    color:#ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
}
.choose-us-content{
    overflow: hidden;
}
.first-content .single-content{
    float: left;
    width:276px;
    background: rgba(255, 255, 255, 1);
    margin-bottom:24px;
    margin-right:24px;
}
.first-content:last-child{
    margin-right:0 !important;
}
.choose-us-content .single-margin{
    padding:32px;
    text-align: center;
}
.choose-us-content .single-margin img{
    height: 28.71px;
}
.choose-us-content .single-margin h4{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color:rgba(35, 87, 132, 1);
}
.choose-us-content .single-margin p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    padding:16px 0;
}
/* ================choose-us-section-end=========================== */
/* ================story-section-start============================ */
.story-wrapping {
    margin-bottom:50px;
}
.single-story{
    width:312px;
    float: left;
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
    background:rgba(255, 255, 255, 1);
    margin-right:24px;
}
.single-story:last-child{
    margin-right:0;
}
.single-story .image{
    position: relative;
}
.single-story .image .empty{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background: rgba(35, 87, 132,.7);
    transition: .3s;
    cursor: pointer;
}
.single-story .image .empty:hover{
    background: rgba(0, 0, 0, 0.6);
    width:266px;
    height:204px;
    border-radius: 0;
}
.single-story .image .empty i{
    font-size:50px;
    color:#ffffff;
    padding-top:21%;
}
.single-story .image img{
    width: 312px;
    height: 240px;
}
.story-text .story-wrap{
    padding:32px;
    text-align: center;
}
.story-text .story-wrap h2{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 500;
    color: rgba(35, 87, 132, 1);
}
.story-text .story-wrap p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    margin-top:32px;
}
/* ================story-section-end=============================*/
/* ================faq-section-start=========================== */
.faq-bg{
    background:url(../image/faq-bg.png)no-repeat;
    background-position: center;
    background-size:contain;
}
.faq-wrapping{
    padding:17px 0;
}
.faq-content{
    float: left;
    width:670px;
}
.faq-content h2{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 48px;
    font-weight: 500;
    color: rgba(35, 87, 132, 1);
    margin-bottom:48px;
}
.faq-text{
    float: left;
}
.faq-plus{
    float: right;
}
.faq-content .faq-text p{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}
.faq-content .faq-plus i{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 32px;
}
.faq-content .faq-text span{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 400;
    color:rgba(35, 87, 132, 1);
}
.faq-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}
.faq-image{
    text-align:right;
}
.faq-image img{
    width: 535.99px;
    height: 532px;
}
/* ================faq-section-end============================ */
/* ================Team-section-start=========================== */
.team-wraping{
    margin-bottom: 50px;
}
.single-team{
    float: left;
    width:312px;
    box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.1);
    margin-right: 24px;
}
.single-team:last-child{
    margin-right:0;
}
.single-team .image img{
    width:312px;
    height:240px;
}
.team-content{
    text-align: center;
}
.team-content span i{
    font-size: 22px;
    color:rgba(35, 87, 132, 1);
    padding:32px 0;
    padding-right:16px;
}
.team-content span i:last-child{
    padding-right: 0;
}
.team-content h5{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.8);
}
.team-content h6{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(35, 87, 132, 1);
    padding: 32px 0;
}
/* ================Team-section-end=========================== */
/* ================Discount-section-start=========================== */
.discount-bg{
    background: url(../image/discount-bg.png) no-repeat;
    background-position: center;
    background-size: cover;position: relative;
}
.discount-bg::after{
    position: absolute;
    content: '';
    background: rgba(18, 84, 141, 1);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity:0.83;
}
.discount-wrapping{
    position: relative;
    z-index:3;
    padding:24px 0;
}
.discount-image{
    float: left;
}
.discount-image img{
    width: 350px;
    height: 350px;
}
.discount-content{
    float: right;
    width: 50%;
    margin-top: 50px;
}
.discount-content h2{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 32px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
}
.discount-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    margin:32px 0 48px 0;
}
.discount-content .button{
    width:23%;
    text-align: center;
}
.discount-content .button a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    padding:10px 20px;
    border-radius:5px;
    background:rgba(255, 255, 255, 1);
    border:2p solid transparent;
}
.discount-content .button:hover a{
    border:2px solid #ffffff;
    background: #235784;
    color:#ffffff;

}
/* ================Discount-section-end=========================== */
/* ================Testimonilias-section-start=========================== */
.testimonilias-wrap{
    margin-bottom:50px;
}

.single-testimonilias{
    float: left;
    width:648px;
    background:rgba(35, 87, 132, 1);
    width: 648px;
    border-radius:8px;
    position: relative;
    overflow: hidden;
}
.single-testimonilias::after{
    position: absolute;
    content: '';
    background:url(../image/testomonials-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top:0;
}
.single-testimonilias:last-child{
    margin-left:24px;
}
.single-testimonilias .image{
    margin:24px 24px 42px 24px;
    float: left;
}
.single-testimonilias .image img{
    width: 134px;
    height: 134px;
    cursor: pointer;
}
.single-testimonilias .content{
    margin:24px 32px 24px 0;
    overflow: hidden;
}
.single-testimonilias .content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-bottom:5px;
}
.single-testimonilias .content i{
    font-size: 12px;
    padding-right:6px;
    color:rgba(255, 193, 7, 1);
}
.single-testimonilias .content h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin:5px 0;
    cursor: pointer;
}
.single-testimonilias .content h6{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
/* ============company-logo=========== */
.company-logo{
    text-align: center;
    background: #ffffff;
    padding: 50px 0;
}
.company-logo .google,.enovato{
    float: left;
    width: 20%;
}
.company-logo .google img{
    width: 200px;
    height: 62.67px;
    cursor: pointer;
}
.company-logo img{
    width: 200px;
    height: 38.1px;
    cursor: pointer;
}
/* ================Testimonilias-section-end=========================== */
/* ================Blog-section-start=============================== */
.blog-wrapping{
    margin-bottom: 50px;
}
.single-blog{
    width:424px;
    background: rgba(255, 255, 255, 1);
    float: left;
    margin-right:24px;
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
}
.single-blog:last-child{
    margin-right: 0;
}
.blog-image img{
    width: 424px;
    height: 330px;
}
.blog-content{
    padding:32px;
}
.single-blog .blog-text h6{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(35, 87, 132, 1);
}
.single-blog .blog-text h3{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 32px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
    margin:32px 0;
}
.single-blog .blog-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.4);
}
.single-blog .blog-text h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(35, 87, 132, 1);
    margin-top:32px;
    cursor: pointer;
}
.single-blog .blog-text h4 i{
    padding-left:6px;
}
/* ================Blog-section-end=========================== */
/* ================Newsletter-section-start=========================== */
.newsletter-bg{
    background: url(../image/letter-bg.png) no-repeat;
    background-position: center;
    background-size:cover;
    position:relative;
}
.newsletter-bg::after{
    position: absolute;
    content: '';
    background:rgba(35, 87, 132, 1);
    width:100%;
    height: 100%;
    top:0;
    opacity:0.85;
}
.newsletter-wrapping{
    width:100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    position: relative;
    z-index:3;
    text-align: center;
    margin:65px 0;
}
.newsletter-wrapping::after{
    position: absolute;
    background:url(../image/letter-sub-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.newsletter-content{
    padding:55px 0;  
}
.newsletter-content h3{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 32px;
    font-weight: 700;
    color:rgba(35, 87, 132, 1);
    margin-bottom: 32px;
}
.newsletter-content .letter-button{
    position:relative;
    max-width:504px;
    margin:auto;
}
.newsletter-content .letter-button input{
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
    width:100%;
    height: 48px;
    border-radius:8px;
    padding-left: 32px;
    background: rgba(35, 87, 132, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: none;
}
.newsletter-content .letter-button::placeholder{
    color: #ffffff;
}
.newsletter-content .letter-button button{
    position:absolute;
    right:0;
    top:0;
    width:167px;
    height:40px;
    border-radius:8px;
    background:rgba(255, 255, 255, 1);
    border: none;
    margin:4px 4px 4px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition:0.3s;
}
.newsletter-content .letter-button button:hover{
    background: transparent;
    color:#ffffff;
    border:2px solid #ffffff;
}
/* ================Newsletter-section-end=========================== */
/* ================Foooter-section-start=========================== */
footer{
    padding: 58px 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.4);
}
.footer-bg{
    background:url(../image/footer-bg.png)no-repeat;
    background-position:center;
    background-size:cover;
}
.col{
    float:left;
    width:25%;
}
.col-1{
    width:60%;
}
.col-2{
    float:right;
}
.first-part{
    width:50%;
    float: left;
}
.col .first-part .col-1 img{
    width:181.15px;
    height:32px;
    padding-bottom:34px;
}
.col h3{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
    margin-bottom:48px;
}
.col p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.8);
    margin-top:34px;
}
.col ul li{
    margin-bottom:24px;
}
.col ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.8);
}
.col button{
    width:142px;
    height:48px;
    border-radius: 5px;
    background: rgba(35, 87, 132, 1);
    border:none;
    margin-top: 34px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}
.col button:hover{
    color:#235784;
    background: transparent;
    border:2px solid #235784;
}
/* =====copy-right-part===== */
.copy-right-part{
    margin:42px 0;
}
.left-part{
    float: left;
    width:50%;
}
.left-part p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.6);
}
.left-part p i{
    padding-right:6px;
}
.right-part{
    float: right;
}
.right-part span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.6);
}
.right-part span:first-child{
    margin-right:100px;
}
/* ================Foooter-section-end============================= */
/* ===========================Home-page-end======================================================= */

/* ===========================About-us-page-start======================================================= */
/* ================Banner-section-start============================= */
.banner-bg{
    background:url(../image/banner-bg.png)no-repeat;
    background-position:center;
    background-size: cover;
    position: relative;
}
.banner-wrapping img{
    width: 181.15px;
    height:32px;
    cursor: pointer;
}
.banner-bg::after{
    position:absolute;
    content:'';
    background: rgba(35, 87, 132, 1);
    width: 100%;
    height: 100%;
    top:0;
    opacity:0.7;
}
.banner-wrapping{
    position: relative;
    z-index:3;
    width:100%;
    height:48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:26px;
}
.banner-wrapping ul li{
    display: inline-block;
    padding: 0 32px;
    position: relative;
}
.banner-wrapping ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    position: relative;
}
.banner-wrapping ul li a::after{
    position:absolute;
    content:'';
    width:100%;
    height:3px;
    left:0;
    bottom: -6px;
    background-color: #ffffff;
    border-radius: 40px;
    transform: scaleX(0);
    transition: 0.3s;
    /* transform-origin:right; */
}
.banner-wrapping ul li a:hover::after{
    transform: scaleX(1);
    background: #FBBC05;
    /* transform-origin: left; */
}
/* =====dropdown======= */
.banner-wrapping ul li .dropdown-2{
    display: block;
}
.banner-wrapping ul li .dropdown-2{
    position: absolute;
    width:160px;
    border-radius: 15px;
    z-index: 999;
    display: none;
    top: 100%;
    left: 0;
}
.banner-wrapping ul li .dropdown-2 li{
    margin:5px 0;
}
.banner-wrapping ul li:hover .dropdown-2{
    display: block;
}
/* =====dropdown======= */
.banner-wrapping button{
    width:106.19px;
    height:48px;
    border-radius:5px;
    border: 1px solid rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color:transparent;
    color:rgba(255, 255, 255, 1);
    align-items: end;
    transition: .3s;
}
.banner-wrapping button:hover{
    color:#FBBC05;
    border: 1px solid #FBBC05;
}
.section-name{
    position: relative;
    z-index:3;
    text-align: center;
    margin:96px 0 171px 0;
}
.section-name h4{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color:rgba(255, 255, 255, 1);
    margin-bottom:26.5px;
}
.section-name span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
}
.section-name span i{
    padding:0 8px;
}
/* ================Banner-section-end=============================== */
/* ===========================About-us-page-end======================================================= */

/* ===============================Bloag-details-section-start========================================= */
.blog-details-wrapping{
    margin: 48px 0;
}
.button{
    position:relative;
    width: 424px;
}
.button input{
    width:100%;
    height: 48px;
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    border:none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.4);
    padding-left:24px;
}
.blog-details-wrapping .button button{
    position:absolute;
    top:0;
    right: 0;
    width:48px;
    height: 48px;
    border: none;
    background:rgba(35, 87, 132, 1);
    border: 1px solid rgba(35, 87, 132, 1);
}
.blog-details-wrapping .button button i{
    font-size:16px;
    color:rgba(255, 255, 255, 1);
}
.blog-details-left-part{
    float:left;
}
form{
    width: 424px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
    margin-top: 24px;
    margin-right:73px;
}
.form-wrap{
    padding: 32px 24px 32px 24px;
}
.form-wrap label{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
}
.form-wrap .single-form p{
    width: 376px;
    height: 60px;
    background: rgba(247, 250, 253, 1);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.8);
    padding-left:22px ;
    margin-top:24px;
    padding:18px;
}
.form-wrap .single-form{
    position:relative;
}
.form-wrap .single-form span{
    position: absolute;
    top:20px;
    right:20px;
}
.form-wrap .single-form span i{
    font-size: 12px;
    color:rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.form-2{
    margin-top:48px;
}
.recent-post-wrap{
    padding:32px 0 35px 24px;
}
.post-content-wrap{
    margin-bottom: 40px;
}
.form-2 .recent-post-wrap label{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
    margin-bottom:48px;
    display: block;
}
.recent-post-wrap .post-image{
    float:left;
}
.recent-post-wrap .post-image img{
    width: 81.99px;
    height: 81.99px;
}
.recent-post-wrap .post-content{
    max-width:165px;
    margin: auto;
}
.recent-post-wrap .post-content span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(35, 87, 132, 1);
    margin-bottom:5px;
    display: block;
}
.recent-post-wrap .post-content h5{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.8);
}
.form-3{
    margin:48px 0 32px 0;
}
.tag{
    padding:32px 24px 0 24px;
}
.tag h2{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
    margin-bottom:32px;
}
.tag span{
    padding: 10.5px 10px;
    align-items: center;
    margin-right:10px;
    margin-bottom: 24px;
    background: rgba(35, 87, 132, 1);
    display:inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
}
/* ====right-part-content==== */
.blog-details-right-part{
    overflow: hidden;
}
.blog-details-right-part .image img{
    margin: 24px 0 48px;
    width: 822px;
    height: 566px;
}
.right-part-content .right-part-date span{
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.8);
}
.right-part-content .right-part-date span:last-child{
    margin-right:48px;
}
.right-part-content .right-part-date span i{
    color: rgba(35, 87, 132, 1);
    padding-right:10px;
}
.right-part-content p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.8);
    margin: 32px 0;
}
.right-part-content h4{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 24px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
}
.right-part-content .right-part-pra{
    width:100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}
.right-part-content .right-part-pra::after{
    position: absolute;
    content:'';
    background:url(../image/vector-2.png) no-repeat;
    top:-10px;
    left: 24px;;
    width:100%;
    height:100%;
}
.right-part-content .right-part-pra .right-part-pra-wraping{
    padding:48px 24px;
}
.right-part-pra .right-part-pra-wraping p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.8);
}
.right-part-pra .right-part-pra-wraping h6{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 16px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
}
/* ================previous-comment-part=========*/
.previous-comment-part h5{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 22px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
    margin-bottom: 46px;
}
.single-comment{
    margin-bottom:24px;
}
.single-comment .comment-image{
    float: left;
}
.single-comment .comment-image img{
    width: 105.88px;
    height: 105.88px;
    margin-right:20px;
}
.single-comment .comment-texts{
    overflow: hidden;
}
.single-comment .comment-texts h6{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 16px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
}
.single-comment .comment-texts .date{
    margin:16px 0;
}
.single-comment .comment-texts .date span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgba(35, 87, 132, 1);
    padding-right:24px;
}
.single-comment .comment-texts p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:rgba(0, 0, 0, 0.4);
}
.single-comment-2{
    background: rgba(247, 250, 253, 1);
    margin-left:100px;
}
.single-comment-2 .content-wrapping{
    padding:24px;
}
/* ===========Your-comment-part=========  */
.your-comment-part h4{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 24px;
    font-weight: 500;
    color:rgba(35, 87, 132, 1);
    text-transform: capitalize;
    display: block;
    margin-bottom: 24px;
}
.your-comment-part .single-form-content{
    float: left;
    margin-left: 24px;
}
.your-comment-part .single-form-content:first-child{
    margin-left:0;
}
.your-comment-part .single-form-content label{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.8);
}
.your-comment-part .single-form-content input{
    width: 646px;
    height: 60px;
    border: 1px solid rgba(35, 87, 132, 1);
    margin:7px 0 12px 0;
    padding-left:24px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.8);
    padding-left:16px;
}
.your-comment-part .text-area label{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.8);
}
.your-comment-part .text-area textarea{
    width:100%;
    height: 200px;
    background-color:rgba(247, 250, 253, 1);
    border:1px solid rgba(35, 87, 132, 1);
    margin-top:7px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.8);
    padding:16px;
}
.your-comment-part .button button{
    width:230px;
    height: 49px;
    background: rgba(35, 87, 132, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
    border:none;
    margin: 48px 0;
    border:2px;
    transition:.3s;
}
.your-comment-part .button button:hover{
    color: #235784;
    border:2px solid #235784;
    background: transparent;
}
.your-comment-part .button button i{
    padding-right:6px;
}
/* ===============================Bloag-details-section-end=========================================== */

/* ===============================Contact-page-section-start=========================================== */
.contact-part{
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 118px;
    position: relative;
    z-index:3;
}
.contact-information{
    position: absolute;
    top:0;
    right:0;
    width:36%;
    height:100%;
    background:rgba(35, 87, 132,1);
}
.contact-part-bg{
    background:url(../image/map-for-contact-us-bg.png)no-repeat;
    background-position:center;
    background-size:cover;
    position: relative;
}
.contact-part-bg::after{
    position: absolute;
    content:'';
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#ffffff;
    opacity: 80%;
}
.contact-part .contact-form{
    padding: 60px 0 48px 48px;
    width:64%;
}
.contact-part .contact-form input{
    width:80%;
    height:48px;
    margin-bottom: 24px;
    border: 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.4);
    background:transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.6);
}
.contact-part .contact-form input:focus{
    outline:unset;
}
.contact-part .contact-form button{
    width:126px;
    height:48px;
    border-radius:5px;
    border:2px solid transparent;
    background: rgba(35, 87, 132, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border:none;
    margin-top:24px;
    transition: 0.3s;
    display: block;
}
.contact-part .contact-form button:hover{
    color: #235784;
    background: transparent;
    border:2px solid #235784;
}
.contact-information .information-texts{
    padding:72px 0 0 48px;
}
.contact-information .information-texts span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
    margin-bottom:44px;
    display: block;
}
.contact-information .information-texts span i{
    padding-right:14px;
}
.information-texts .contact-logo i{
    color:rgba(255, 255, 255, 1);
}
.information-texts .contact-logo:not(:first-child) i{
    padding-right:10px;
    font-size:20px;
}
/* ===============================Contact-page-section-end=========================================== */
/* ===============================Team-section-start=========================================== */
.team-bg{
    background: url(../image/team-bg.png) no-repeat;
    background-position:center;
    background-size:cover;
    position: relative;
    height:100vh;
}
.team-bg::after{
    position:absolute;
    content:'';
    background:#ffffff29;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:999;
}
.footer-team-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    text-align: center;
}
.footer-team-wrap h2{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 300px;
    font-weight: 800;
    line-height: 363px;
    color: #235784;
}
.footer-team-wrap h3{
    font-family: 'Oswald-VariableFont_wght';
    font-size: 100px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0.02em;
    color:#00000099;
}
.footer-team-wrap p{
    font-family: 'Oswald-VariableFont_wght';;
    font-size: 32px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 0.02em;
    color: #00000066;
    margin:48px 0;
}
.footer-team-wrap a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background: #235784;
    box-shadow: 0px 10px 25.399999618530273px 0px #0000001A;
    border-radius:5px;
    padding:10px 15px;
    border: 2px;
}
.footer-team-wrap a:hover{
    color: #235784;
    background: transparent;
    border:2px solid #235784;
}
/* ===============================Team-section-end=========================================== */